body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
.thumbnail {
  width: 150px !important;
  margin-right: 20px !important;
}
.header_container {
  margin-top: 20px;
}
.dropZoneContainer {
  border: 3px dotted #9e9e9e;
  text-align: center;
  padding: 50px;
}
.dropZoneActiveStyle {
  borderStyle: 'solid';
}
